{% load static %}
<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1  text-uppercase"
    >
      <strong class="pb-4">Prime Surgical ZB Dashbaord</strong>
      <a class="link-primary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle" class="align-text-bottom"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Sales Reporting </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Performance Indicators </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Prime Biz Optics </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Opportunities </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Targets </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Projects </a>
      </li>
      <li class="nav-item pb-1">
        <a class="nav-link text-light" href=""> Processes </a>
      </li>
    </ul>
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
    >
    

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
    ></h6>
  </div>
</nav>
