{% extends 'base.html' %}
<html>
  <head>
    <style>
      body {
        background-color: black;
        color: #d3d3d3; /* This is a light gray color */
        padding-top: 50px;
      }
      #gameFrame {
        border: 2px solid #d3d3d3; /* Light grey border */
      }
    </style>
  </head>
  {% block content %}

  <body>
    <div style="text-align: center">
      <p></p>

      <h1>PONG.ai</h1>
    </div>

    <p style="text-align: center">
      This game was built using Python and the NEAT neural network training
      model.
    </p>
    <p style="text-align: center">
      Please scroll down, click the game embedded in the webpage. Click Run, and
      then on the screen again once it turns black. The game will then count
      down from 5 to start.
    </p>
    <br />
    <p style="text-align: center">
      First Player to 10 wins. The User is on the left. "w" & "s" on the
      keyboard will be your controls:
    </p>

    <div style="display: flex; justify-content: center">
      <iframe
        id="gameFrame"
        src="https://replit.com/@0xalphaprime/painopong?embed=true"
        width="700"
        height="650"
      ></iframe>
    </div>
  </body>
  {% endblock %}
</html>
